html {
  height: 100%;
}

html,
body {
  background-image: linear-gradient(to right top, #053337, #00505d, #006d88, #008bb8, #12a9eb);
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    background-color: #006d88;
    background-repeat: no-repeat;
    height: 1355px;
    width: 755px;
    position: absolute;
  }
 .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 391px;
    height: 240px;
    background-color: #333333;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: #b1b1b1;
  }
  .navigation >.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  width: 150px;
  border-radius: 105px;
  height: 190px;
  margin-top: 45px;
}
 .navigation>.navigation-buttons>img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;
}
  body>.screen {
    border-width: 4px;
    border-style: solid;
    display: flex;
    justify-content: flex-end;
    border-color: #3c767e;
    background-color: #cacaca;
    border-radius: 15px;
    height: 1078px;
    align-items: flex-end;
  }
 .post > .post-background>img {
    height: 644px;
    margin-top: -38px;
    width: 100%;
    left: 13px;
  }
  .post > .post-theme>img {
    height: 644px;
    margin-top: -38px;
    width: 745px;
    left: 13px;
    z-index: 1;
  }
  .post > .post-logo>img {
    position: absolute;
    top: 19px;
    left: 92%;
    z-index: 2;
  }
  .post > .post-text {
    position: absolute;
    top: 50px;
    left: 47%;
    z-index: 2;
  }
  .post .text_edit {
    position: fixed;
    width: 636px;
    height: 240px;
    right: 60px;
    top: 158px;
    resize: none;
    background: transparent;
    font-size: 40px;
    border: none;
    color: white;
  }
}

.screen {
  border-width: 4px;
  border-style: solid;
  display: flex;
  justify-content: flex-end;
  border-color: #3c767e;
  background-color: #cacaca;
  height: 700px;
  border-radius: 15px;
  align-items: flex-end;
}

.buttons {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background-image: linear-gradient(to right, #242527, #333333, #333333, #333333, #242527);
  justify-content: space-around;
  margin-top: 20px;
  border-radius: 10px;
}

.buttons>img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 5px;
  height: 240px;
  background-color: #333333;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #b1b1b1;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  width: 150px;
  border-radius: 105px;
  height: 190px;
  margin-top: 45px;
}

.navigation-buttons>img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;
}

.image-background {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-background>.button-background input {
  display: inline-block;
  width: 100%;
  padding: 50px 0 0 0;
  height: 0px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://www.flaticon.com/premium-icon/icons/svg/965/965432.svg) center center no-repeat;
  border-radius: 20px;
  background-size: 50px 50px;
  cursor: pointer;
  outline: none;
}

.image-background>.button-theme input {
  display: inline-block;
  width: 100%;
  padding: 50px 0 0 0;
  height: 0px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://www.flaticon.com/premium-icon/icons/svg/965/965442.svg) center center no-repeat;
  border-radius: 20px;
  background-size: 50px 50px;
  cursor: pointer;
  outline: none;
}

.image-background>.button-logo input {
  display: inline-block;
  width: 100%;
  padding: 50px 0 0 0;
  height: 0px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://www.flaticon.com/premium-icon/icons/svg/143/143671.svg) center center no-repeat;
  border-radius: 20px;
  background-size: 50px 50px;
  cursor: pointer;
  outline: none;
}

.button-text {
  display: inline-block;
  width: 240px;
  padding: 50px 0 0;
  height: 0px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(https://image.flaticon.com/icons/svg/802/802079.svg) center center no-repeat;
  border-radius: 20px;
  background-size: 50px 50px;
  cursor: pointer;
  outline: none;
}

.post {
  width: 646px;
  height: 646px;
  position: absolute;
  left: 640px;
  top: 12px;
}

.post-background>img {
  position: fixed;
  z-index: 1;
   width:646px;
  height:646px;
}

.post-theme>img {
  position: fixed;
  z-index: 1;
  width:646px;
  height:646px;
}

.post-logo>img {
      position: fixed;
    left: 875px;
    z-index: 2;
    width: 175px;
    height: 175px;
}

.post-text {
  position: fixed;
  z-index: 3;
  display: none;
  direction: rtl;
}

.text_edit {
  position: fixed;
  width: 636px;
  height: 240px;
  right: 637px;
  top: 190px;
  resize: none;
  background: transparent;
  font-size: 25px;
  border: none;
  color: white;
  text-align: center;
}

#view_text {
  width: 500px;
}